<header class="header">
  <div class="logo">
    <a><img ngSrc="assets/logo.jpg" alt="Logo" height="80" width="80" routerLink="/news" /></a>
  </div>

  <nav class="navigation">
    <ul>
      <li>
        <a
          routerLink="/news"
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li><a routerLink="/news/subscribe" routerLinkActive="activeLink">Subscribe</a></li>
    </ul>
  </nav>

  <div class="user-info">
    <span *ngIf="userEmail">
      Welcome, <strong>{{ userEmail }} </strong>!
    </span>
    <button *ngIf="userEmail" class="button" (click)="logout()">Logout</button>
  </div>
</header>
