<header class="header">
  <div class="logo">
    <img ngSrc="assets/logo.jpg" alt="Logo" height="80" width="80" />
  </div>

  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
      <li><a routerLink="/subscribe" routerLinkActive="activeLink">Subscribe</a></li>
    </ul>
  </nav>

  <div class="user-info">
    <span>
      Welcome, <strong>{{ userEmail }} </strong>!
    </span>
    <button class="button" (click)="logout()">Logout</button>
  </div>
</header>
