.notification {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.notification-item {
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-top: 1.25rem;
  padding: 0.6875rem 0.8125rem;
  color: #FFFFFF;
  border-radius: 0.3125rem;
  border-color: grey;
}

.notification-item-success {
  background-color: #6ed76e;
}

.notification-item-error {
  background-color: #e85c5c;
}

.notification-close {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
}
