<app-header></app-header>

<div class="category-filter">
  <div class="category-buttons">
    <button
      class="category-btn"
      [ngClass]="{ selected: selectedCategory === 'All' }"
      (click)="filterByCategory('All')"
    >
      All
    </button>
    <button
      class="category-btn"
      *ngFor="let category of categories"
      [ngClass]="{ selected: selectedCategory === category }"
      (click)="filterByCategory(category)"
    >
      {{ category }}
    </button>
  </div>

  <button class="btn-create" (click)="goToCreateNews()">Create News</button>
</div>

<div class="search-bar">
  <input type="text" placeholder="Search articles..." [(ngModel)]="searchQuery" />
  <div *ngIf="searchQuery" class="news-container">
    <div *ngFor="let article of news | searchNews : searchQuery" class="news-article">
      <h2>{{ article.title }}</h2>
      <p class="category">Category: {{ article.category }}</p>
      <p>{{ article.description }}</p>
      <p class="date">Published: {{ article.date }}</p>
    </div>
  </div>
</div>

<div class="news-container" *ngIf="!searchQuery">
  <div
    *ngFor="let article of filteredNews; let i = index"
    class="news-article"
    [ngClass]="{ 'odd-article': i % 2 !== 1 }"
    (click)="openArticle(article)"
    [routerLink]="['/', article.id]"
  >
    <h2>{{ article.title }}</h2>
    <p class="category">Category: {{ article.category }}</p>
    <p>{{ article.description }}</p>
    <p class="date">Published: {{ article.date }}</p>
  </div>
</div>
